<h1>home</h1>

<%  if user_signed_in?%>
<div class="jumbotron">
  <div align="center">
    <%= link_to 'START' , home_index_path, :class => "btn btn-primary" %>
</div>
      <p class="p-font-size">Free, Innovative Online RSVP, Registration & Event Management Tools To Help You Win Event Planning.
  </p>
</div>
<% end %>
<div class="row">
<div class="col-md-12">
<div class="col-md-4"><div class="well one"><h4><strong>Step 1</strong></strong></h4><p class="margin-top">Send guests to my Event.rsvpify.com froma paper or digital  invitation or embed your RSVP on your website</p></div>
</div>
<div class="col-md-4"><div class="well  one"><h4><strong>
	Step 2
</strong></h4><p class="margin-top">Your guests visit your online RSVP website and complete your customized online RSVP in minutes</p></div>
</div>
<div class="col-md-4"><div class="well one"><h4><strong>
	Step 3
</strong></h4><p class="margin-top">You alwys know whome you havent't  heared from, who's coming and what there preference are</p></div>
</div>
</div>
</div>