@import "bootstrap-sprockets";
@import "bootstrap";
/*event_new */
.create
{
	display: block;
  width: 100%;
  height: 150px;
  padding-top: 60px;
  background-color: white;
}
.h1
{
line-height: 43px;
    font-size: 30px;
    color: #9c2b8e;
    margin-right: 20px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 30px;
}
.well
{
	position: absolute;
    top: 50%;
    left: 30%;
    width: 1000px;
    /*height: 700px;*/
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color:white;

}
.text
{
	position: absolute;
    bottom: 10%;
    font-size: 20px;
    font-weight: bold;
}

/* event navbar*/
.navbar-default {
    background-color: #0c0c0c;
    border-color: #e7e7e7;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: black;
  }
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-right: 70px;
}

.a dropdown-toggle
{
	color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* navigation.html.erb*/
.navbar-default1
{
	background-color: #fb00ff6b;;
    height: 75px;
}

/* event.html.erb*/
.eventbody
{

    background-color: #f7f7f7
    ;
}
.subtext
{
	text-align: center;
    line-height: 1.42857143;
    margin-top: 20px;
}
.name
{
	font-size: 24px;
    text-align: center;
    color: #323c47;
    line-height: 1.42857143;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}
/* login */
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
  }

  .body
{
	background-image: url('wall.jpg');
}
.well-login
{
	position: absolute;
    top: 56%;
    left: 50%;
    width: 400px;
    height: 405px;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: white;
}
.center
{
	white-space: 0px;

}
.btn-primary {
    color: #fff;
    background-color: #0c4d86;
    border-color: #2e6da4;
    width: 366px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
}
.btn-danger {
    color: #fff;
    background-color: #c1140f;
    border-color: #777575;
    width: 366px;
    height: 40px;
    margin-bottom: 10px;
}
.btn:active{
    outline: 0;
    color: #fcf8e3;
    background-image: none;
     background-color: darkmagenta;
    width: 355px;
    background-color: #af17aa;
}
.category-img-container{
	margin: 11px;
    padding: 10px;
    display: inline-flex;
    cursor: pointer;
    border: 1px solid black;
    padding-bottom: 30px;
    border-radius: 10px;
}
.category-img-container img
{
    /*height: 200px;
    width: 250px;
    margin-bottom: 10px;*/
}
.category-img-container.active{
	border: 2px solid black;
	background-color:white;
}
.head
{
display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
.alert {
   
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 366px;
    height: 40px;
    margin-bottom: 15px;
}
.well.rsvp
{
	margin: 100px;
    position: absolute;
    left: 95px;
}
.show
{
	position: absolute;
    top: 50%;
    left: 20%;
    width: 1200px;
    /* height: 700px; */
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: white;

}
.editdelete
{
    position: absolute;
    top: 500px;
}
.navbar navbar-default2
{
    background-color: white;
}
.navbar-right {
    float: right !important;
    margin-right: 40px;
    margin-top: 5px;
    font-size: 30px;
    color: black;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #17a937;
}

.navbar-default {
    background-color: #5ca953;
    border-color: #e7e7e7;
}
.th {
    text-align: center;
    padding: 10px;
    margin-left: 0px;
}
.name {
    font-size: 34px;
    text-align: center;
    color: #323c47;
    font-style: italic;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}
.td
{
padding: 10px;
    width: 20px;
    height: 40px;
}
.btn-default {
    color: darkblue;
    text-size-adjust: 0px;
    background-color: #8e1985;
    border-color: #ccc;
    width: 360px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
}
.sign {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 20px;
}
.show1
{

    position: absolute;
    top: 90%;
    left: 30%;
    width: 1000px;
    /* height: 700px; */
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    background-color: white;
}
.btn-info {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.para
{
    margin: 0 0 10px;
    font-size: 15px;
    color: black;
}
.h5 {
    font-size: 14px;
    color: #3c3535c2;
}
.m-20px
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: purple;
    font-size: 25px;
    font-style: normal;
}
.jumbotron
{
    height:auto;
    background-image: url("home1.jpg")
}
.one
{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background-color: #b0ecec;
}

.margin-top
{
    margin-top: 50px;
    font-size: 17px;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #0c4d86;
    border-color: #2e6da4;
    width: 366px;
    margin-top: 20px;
    margin-top: 230px;
    height: 40px;
    margin-bottom: 15px;
}
.p-font-size
{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    margin-top: 30px;
}